<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <%= form_for(@article) do |f|%>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :content %>
        <%= f.text_area :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

